/target
/lib
/classes
/checkouts
/log
.#*
pom.xml
pom.xml.asc
/jars
*.jar
*.class
/.lein-*
profiles.clj
/.env
*.log
.nrepl-port
*.edn
*.jcoDestination
oracle-meta
/docker/m2
/docker/jars
.nrepl-port
/docker/lein
*.trc
/.docker-state
/docker.env
.envrc
TAGS

