ENV=prod
VERSION=1

# ELASTICSEARCH_URL="http://127.0.0.1:9200"
# ELASTICSEARCH_URL="http://gandalf.insummit.com:9200"
ELASTICSEARCH_URL=http://mark-docker01.insummit.com:9200

# export ELASTICLOG_URL="http://localhost:127.0.0.1:9200"
# ELASTICLOG_URL="http://127.0.0.1:9200"
# ELASTICLOG_URL="http://gandalf.insummit.com:9200"
ELASTICLOG_URL=http://mark-docker01.insummit.com:9200
# ELASTICLOG_URL=$ELASTICSEARCH_URL
ELASTICLOG_INDEX=event
# ELASTICLOG_TYPE="haystack_${ENV}_${VERSION}"
ELASTICLOG_TYPE=haystack_prod_1

# DB_HOST="//localhost:3306/blue_harvest_dev"
DB_HOST=//10.9.0.126:3306/blue_harvest_dev
DB_USER=user
DB_PW=pw

